<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="changeTheme()">
        <ion-icon slot="icon-only" name="contrast"></ion-icon>
      </ion-button>
      <ion-button (click)="changeLanguage()">
        <ion-icon slot="icon-only" name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="hero-container ion-padding">
    <ion-col class="image-container" size="12" size-md="4">
      <img
        class="image"
        src="./assets/img/saud.png"
        alt="Saud Alhelali's Image"
      />
    </ion-col>
    <ion-col class="about-me-container" size="12" size-md="8">
      <div class="intro">
        <p class="paragraph">
          {{ 'personal.welcome' | translate }}
          <span class="name strong">{{ 'personal.name' | translate }}</span>,
          <br />
          <span class="strong">{{ 'personal.title' | translate }}</span>{{
          'personal.hook' | translate }}
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="4">
      <ion-button
        class="ion-padding contact-button"
        href="mailto:saudalhilali@gmail.com?subject=Hello Saud!"
        expand="block"
        fill="outline"
      >
        {{ 'common.contact_me' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-md="4">
      <div class="soc-box">
        <div class="soc">
          <a target="_blank" href="https://www.linkedin.com/in/alhelali/">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
          <a target="_blank" href="https://github.com/alhilali/">
            <ion-icon name="logo-github"></ion-icon>
          </a>
          <a target="_blank" href="http://twitter.com/SaudAlHilali">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a target="_blank" href="https://www.snapchat.com/add/saudalhilali">
            <ion-icon name="logo-snapchat"></ion-icon>
          </a>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
