.hero-container {
  padding-top: 10vh;
}
.image-container {
  .image {
    box-shadow: 0px 8px 24px 0 rgba(39, 39, 39, 0.2);
    display: block;
    border-radius: 5px;
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    max-width: 30vh;
  }
  .image:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.about-me-container {
  font-size: 20px;
  .intro {
    .paragraph {
      font-weight: 300;

      .strong {
        font-weight: 400;
      }
      .name {
        color: var(--ion-color-primary);
      }
    }
  }
}

.contact-button {
  letter-spacing: 0px;
}

.actions-row {
  ion-button {
    width: 40vh;
  }
}
.soc-box {
  text-align: center;
  height: 30px;
  margin-top: 20px;
  width: 40vh;
  .soc a {
    margin: 10px;
    color: #bbb;
    text-decoration: none;
    transition: 1s;
    text-align: center;
    font-size: xx-large;
    &:hover {
      color: var(--ion-color-primary);
    }
  }
}
