<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Saud Alhelali </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img
      class="image"
      src="./assets/img/saud.png"
      alt="Saud Alhelali's Image"
    />
  </div>

  <div class="about-me-container">
    <div class="intro">
      <p class="paragraph">
        Hello, I'm <strong>Saud Alhelali</strong>, <br />
        <span *ngIf="title" [@fadeIn]>{{ title }}</span> <br />
        from Riyadh, Saudi Arabia.
      </p>
    </div>
  </div>

  <div class="soc-box">
    <div class="follow-label">Follow Me</div>
    <div class="soc">
      <a target="_blank" href="https://www.linkedin.com/in/alhelali/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a target="_blank" href="https://github.com/alhilali/">
        <ion-icon name="logo-github"></ion-icon>
      </a>
      <a target="_blank" href="http://twitter.com/SaudAlHilali">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a target="_blank" href="https://www.snapchat.com/add/saudalhilali">
        <ion-icon name="logo-snapchat"></ion-icon>
      </a>
    </div>
  </div>
</ion-content>
