<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Saud Alhelali </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="hero-container">
    <ion-col class="image-container" push="1" size="11" size-md="5">
      <img
        class="image"
        src="./assets/img/saud.png"
        alt="Saud Alhelali's Image"
      />
    </ion-col>
    <ion-col class="about-me-container" push="1" size="11" size-md="5">
      <div class="intro">
        <p class="paragraph">
          Hello, I'm <strong>Saud Alhelali</strong>, <br />
          Full Stack Developer from Riyadh, Saudi Arabia.
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-button class="ion-padding" (click)="onClick()" expand="block">
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon> مشاريعي
  </ion-button>

  <div class="soc-box">
    <div class="follow-label">Follow Me</div>
    <div class="soc">
      <a target="_blank" href="https://www.linkedin.com/in/alhelali/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a target="_blank" href="https://github.com/alhilali/">
        <ion-icon name="logo-github"></ion-icon>
      </a>
      <a target="_blank" href="http://twitter.com/SaudAlHilali">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a target="_blank" href="https://www.snapchat.com/add/saudalhilali">
        <ion-icon name="logo-snapchat"></ion-icon>
      </a>
    </div>
  </div>
</ion-content>
